:root {
    --primary-color: #ac8a00;
    --light-color: #f6f6f6;
    --dark-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Syne', sans-serif;
    line-height: 1.7;
    background: var(--light-color);
    color: var(--dark-color);
}

/* Utilities */
.container {
    max-width: 68.75rem;
    margin: auto;
    padding: 0 2rem;
}

.flex {display: flex;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.align-center {align-items: center;}
.align-end {align-items: flex-end;}

.absolute {position: absolute;}

.bg-primary {background: var(--primary-color);}
.bg-light {background: var(--light-color);}
.bg-dark {background: var(--dark-color);}

.text-primary {color: var(--primary-color);}
.text-light {color: var(--light-color);}
.text-dark {color: var(--dark-color);}

.text-center {text-align: center;}
.text-uppercase {text-transform: uppercase;}

.lead {
    font-size: 1.5rem;
}

.btn {
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: inherit;
    cursor: pointer;
}

.btn-primary {
    background: #ac8a00dd;
}

.btn-primary:hover {
    background: #ac8a00bb;
}

.btn-light {
    background: #f6f6f6ee;
}

.btn-light:hover {
    background: var(--light-color);
    color: var(--primary-color);
}

/* Main styling */
h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

p, label {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

/* Navbar */
#navbar {
    overflow: auto;
    width: 100%;
    padding: 1.6rem 0;
}

#navbar .logo a {
    font-size: 1.5em;
    font-weight: bold;
}

#navbar ul {
    font-weight: bold;
}

#navbar .nav-link {
    display: block;
    margin: 0 1rem;
}

#navbar a:hover {
/* #navbar .current { */
    color: var(--primary-color);
}

#navbar .current {
    border-bottom: 1.5px solid var(--primary-color);
}

/* HOME */
/* Showcase */
#showcase {
    background: url(../img/lobby.jpg) no-repeat center center/cover;
    height: 100vh;
}

#showcase-container {
    height: inherit;
}

#showcase h1 {
    font-size: 4rem;
    margin: 0;
}

/* Home Info */
#home-info {
    height: 100vh;
}

#home-info img {
    max-width: 50%;
    object-fit: cover;
    object-position: center;
}

#home-content {
    padding: 0 4rem;
}

/* Testimonials */
#testimonials {
    height: 100vh;
    background: url(../img/lounge.jpg) no-repeat center center/cover;
}

#testimonials .testimonial {
    margin: 1.5rem 0;
    padding: 1.8rem;
    border-radius: 5px;
    background: #f6f6f6ee;
}

#testimonials img {
    width: 8rem;
    border-radius: 50%;
}

#testimonials p {
    margin-left: 2rem;
}

/* ABOUT */
/* About Info */
#about-info {
    height: 90vh;
}

#about-info #about-content {
    padding-right: 2rem;
    align-items: flex-start;
}

#about-info img {
    max-width: 40%;
    border-radius: 50%;
}

/* Features */
#features .feature-box {
    height: 100vh;
}

#features #feature-1 {
    background: url(../img/room.jpg) no-repeat center center/cover;
}

#features #feature-2 {
    background: url(../img/food.jpg) no-repeat center center/cover;
}

#features #feature-3 {
    background: url(../img/pool.jpg) no-repeat center bottom/cover;
}

#features .feature-container {
    background: #f6f6f6ee;
    width: 100%;
    border-radius: 5px;
    padding: 2rem;
}

#features ul {
    margin: 2rem;
    width: 100%;
}

#features li {
    margin: 0 2rem;
    font-weight: bold;
}

/* CONTACT */
/* Contact Form */
#contact-form form {
    margin: 1.2rem 0;
}

#contact-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

#contact-form .form-group:nth-child(4) {
    margin: 0;
}

#contact-form input,
#contact-form textarea {
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    margin-top: 0.2rem;
    padding: 0.6rem;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline-color: var(--primary-color);
}

/* Contact Info */
#contact-info {
    padding-bottom: 3rem;
}

#contact-info .contact-box {
    width: 33.33%;
    height: fit-content;
}

#contact-info p {
    margin-top: 1rem;
}

/* Footer */
#main-footer {
    height: 8vh;
}