:root {
    --primary-color: #ac8a00;
    --light-color: #f6f6f6;
    --dark-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Syne', sans-serif;
    line-height: 1.7;
}

/* Utilities */
.container {
    max-width: 68.75rem;
    margin: auto;
    padding: 0 0.5rem;
}

.d-flex {display: flex;}
.flex-column {flex-direction: column;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.align-items-center {align-items: center;}

.bg-primary {background: var(--primary-color);}
.bg-light {background: var(--light-color);}
.bg-dark {background: var(--dark-color);}

.text-primary {color: var(--primary-color);}
.text-light {color: var(--light-color);}
.text-dark {color: var(--dark-color);}

.text-center {text-align: center;}
.text-uppercase {text-transform: uppercase;}

.lead {
    font-size: 1.5rem;
}

.btn {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 2rem;
}

.btn-primary {
    background: #ac8a00dd;
}

.btn-primary:hover {
    background: #ac8a00bb;
}

.btn-light {
    background: #f6f6f6dd;
}

.btn-light:hover {
    background: var(--light-color);
    color: var(--primary-color);
}

/* Main styling */
h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

p {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

/* Navbar */
#navbar {
    overflow: auto;
}

#navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

#navbar ul {
    padding: 1rem 0;
}

#navbar a {
    display: block;
    margin: 0 1rem;
}

#navbar a:hover, 
#navbar .current {
    color: var(--primary-color);
}

#navbar .current {
    border-bottom: 1.5px solid var(--primary-color);
}

/* Showcase */
#showcase {
    background: url(../img/lobby.jpg) no-repeat center center/cover;
    height: 100vh;
}

#showcase-container {
    height: inherit;
}

.showcase-content h1 {
    font-size: 4rem;
}

/* Home Info */
#home-info {
    height: 100vh;
}

#home-info img {
    height: auto;
    max-width: 50%;
    object-fit: cover;
    object-position: center;
}

#info-content {
    padding: 0 4rem;
}

/* Features */
#features .box {
    height: 100vh;
}

#features #box-1 {
    background: url(../img/room.jpg) no-repeat center center/cover;
}

#features #box-2 {
    background: url(../img/food.jpg) no-repeat center center/cover;
}

#features #box-3 {
    background: url(../img/pool.jpg) no-repeat center bottom/cover;
}

#features .feature-container {
    background: #f6f6f6ee;
    height: 50%;
    border-radius: 5px;
    padding: 0 2rem;
}

#features .feature-list {
    margin: 2rem;
    width: 100%;
}

#features li {
    margin: 0 2rem;
}

/* Footer */
#main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}